@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
a {
  text-decoration: none;
}
@media (max-width: 900px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    max-width: 100%;
    min-height: inherit;
    /* outline-style: solid;
    outline-color: red; */
  }
  #root {
    width: 100%;
    min-height: inherit;
  }
  html {
    max-width: 100vw;
    min-height: 100vh;
    margin: auto;
  }
  .App {
    text-align: center;
    /* outline: 5px solid red; */
    width: 100%;
    min-height: inherit;
  }
}
