@import 'main';
$roundness: 10px;

.login {
  width: 100%;
  background-color: #eff1f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 9em 5em 9em;
  row-gap: 1em;
  .login_form {
    padding: 2em 2.5em;
    height: 25em;
    border-radius: $roundness;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.27);
    h2 {
      color: $primary_color;
      margin-bottom: 50px;
      margin-left: 0;
    }

    .form_group {
      text-align: left;
      font-size: larger;
      margin-bottom: 10px;
      width: 15em;
      label {
        font-weight: bolder;
        color: gray;
      }
    }
    .input {
      font-family: $input_form_family;
      font-size: large;
      display: block;
      height: 2em;
      width: 100%;
      padding-left: 1em;
      outline: none;
      color: rgb(62, 62, 62);
      margin: 0;
      font-weight: bolder;
    }
    .submit_btn {
      cursor: pointer;
      border: none;
      width: fit-content;
      background-color: $primary_color;
      height: 3em;
      border-radius: 10px;
      color: white;
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .submit_btn:hover {
      transition: 0.2s all;
      box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
      -webkit-box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
      -moz-box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
      transform: translateY(10%);
    }
  }
  .signup__tab {
    height: fit-content;
    padding: 1em 3.8em;
    text-align: center;
    width: fit-content;
    border-radius: $roundness;
    background: white;
    p {
      display: inline;
    }
  }
}
