.login {
  width: 100%;
  background-color: #eff1f7;
  .login_form {
    padding: 2em 2em;
    height: 25em;
    width: 25em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(70%);
    margin-top: 100px;
    row-gap: 2em;
    background-color: white;
    box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: -1px 0px 17px 0px rgba(0, 0, 0, 0.27);
    h1 {
      color: #ed3367;
    }
    .form_group {
      text-align: left;
      font-size: larger;
      label {
        font-weight: bolder;
        color: gray;
      }
    }
    .input {
      font-size: large;
      display: block;
      height: 2.5em;
      width: 90%;
      padding-left: 1em;
      outline: none;
      color: rgb(62, 62, 62);
    }
    .submit_btn {
      border: none;
      width: 7em;
      background-color: #ed3367;
      height: 3em;
      border-radius: 10px;
      color: white;
    }
  }
}
