.product_container {
  width: 41em;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #f7f6fb;
  overflow: auto;
  padding-left: 15px;
  padding-top: 15px;
  grid-gap: 1em;
}
.flex_container {
  width: 100%;
  display: flex;
  flex-grow: 0.5;
}
