/* .navblock {
  height: 10em;
  text-align: left;
  padding: 20px 5px 5px 5px;
  h1 {
    margin-left: 75px;
    padding-left: 0px;
  }
  .search_field {
    min-width: 70%;
    outline: none;
    height: 30px;
    background-color: #fbfbfbfe;
    font-size: large;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
  }
  .info {
    display: flex;
    .prompts {
      flex-grow: 1;
      h2 {
        text-align: left;
        margin: 0 0 3px 0;
      }
      p {
        color: gray;
      }
    }
    .controls {
      flex-grow: 1;
      text-align: right;
      margin: 5px;
      padding-top: 6px;
      span {
        height: 2em;
        border-radius: 5px;
        padding: 5px;
      }
      .filter_btn {
        width: 50px;
        border: 1.5px solid lightgray;
        margin-right: 10px;
      }
      .compare {
        color: #e50846;
        background-color: #f37b9d;
      }
      .dots {
        color: gray;
      }
    }
  }
  .results_sort {
    left: 79%;
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    transition: 0.2s all;
    select {
      border: none;
      outline: none;
      font-weight: bold;
      background: transparent;
      option {
        width: 2em;
        color: gray;
      }
    }
  }
}
 */
header {
  height: 3em;
  text-align: right;
  padding: 0 5em;
  .user__profile {
    overflow: hidden;
    margin: 0 0 0 10px;
  }
  a {
    text-decoration: none;
    margin-left: 10px;
    .icons {
      width: 30px;
      height: 30px;
    }
  }
  .profile__photo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: 0.4s transform;
    cursor: pointer;
  }
  .profile__photo:hover {
    box-shadow: -1px 2px 17px -2px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: -1px 2px 17px -2px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -1px 2px 17px -2px rgba(0, 0, 0, 0.54);
  }
  img:hover {
    transform: translateY(-10%);
  }
}
