@import 'main';
.home {
  height: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 2em;
  align-items: center;
  padding: 0 0 0 5em;
  max-width: 120em;
  margin: 0 auto;
  overflow: hidden;
  background: white;
  padding: 15px 0;
  background-color: $prim_background-color;
  .product_container {
    max-width: 120em;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    padding-top: 10px;
    overflow: auto;
    grid-gap: 1em;
  }
}
