.modal_bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background: rgba(65, 63, 63, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: 0.1s all;
  overflow: hidden;
  position: fixed;
  .close_btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    text-align: center;
  }

  .md_window {
    transition: all 1s;
    height: 100%;
    position: relative;
    z-index: 4;
    background-color: white;
    overflow: hidden;

    .meal_info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .img_wrapper {
        width: 20em;
        height: 15em;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
        }
      }
      h1 {
        padding: 0;
      }
      .price {
        font-size: 1.5em;
        font-weight: bold;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
      .serving {
        color: gray;
        margin-top: 0.5em;
      }
      .add_order_btn {
        width: 20em;
        margin-top: 20px;
        height: 35px;
        border-radius: 10px;
      }
    }
  }
}
.mod__hidden {
  height: 0;
  z-index: -1;
}
.mod__show {
  z-index: 10;
}
.win_hidden {
  width: 0;
}
.win_show {
  width: 30em;
}
