.navblock {
  height: 6em;
  h1 {
    margin-left: 75px;
    padding-left: 0px;
  }
  .search_field {
    min-width: 70%;
    outline: none;
    height: 25px;
    border: none;
  }

  .results_sort {
    left: 82%;
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    transition: 0.2s all;

    ol {
      width: 5em;
      position: absolute;
      list-style: none;
      left: 99%;
      bottom: 50%;
      border: 1px solid lightgray;
      border-radius: 5px;
      transition: 0.4s bottom;
      background-color: white;
      box-shadow: -4px 8px 17px -10px rgba(0, 0, 0, 0.84);
      -webkit-box-shadow: -4px 8px 17px -10px rgba(0, 0, 0, 0.84);
      -moz-box-shadow: -4px 8px 17px -10px rgba(0, 0, 0, 0.84);
      li {
        transition: 0.4s all;
      }
      li:hover {
        background-color: gray;
        color: white;
      }
    }
  }
  .results_sort:hover ol {
    bottom: -190%;
  }
  .results_sort:hover {
    overflow: visible;
  }
}
