@import 'main';
.profile {
  padding: 4em 9em;
  width: 100%;
  height: fit-content;
  background-color: $prim_background-color;
  h1 {
    color: $primary_color;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  hr {
    color: white;
  }
  .form__group {
    text-align: left;
    margin-bottom: 2em;
    label {
      font-size: large;
      font-weight: bold;
      color: gray;
    }
    input {
      display: block;
      width: 30em;
      padding-left: 10px;
      height: 2em;
      background-color: $prim_background-color;
      font-size: large;
      border-radius: 4px;
      border: none;
      transition: 0.4s all;
      margin-top: 5px;
      font-family: $input_form_family;
    }
    input:focus {
      outline: none;
      border-bottom: 3px solid $primary_color;
    }
  }
  /*STYLING FOR BOTH SUBMIT BUTTONS BELOW*/
  .btn {
    background-color: $primary_color;
    text-align: center;
    border-radius: 2em;
    color: white;
    border: none;
    padding: 0 20px;
    height: 2.5em;
    width: fit-content;
    position: relative;
    cursor: pointer;
    left: 67%;
  }
  /*STYLING FOR THE FIRST SUBMIT BUTTON*/

  .btn:hover {
    transition: 0.2s all;
    box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
    transform: translateY(-10%);
  }
  .update__form {
    margin: 0 2em;
    padding: 1em 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border: 1px solid lightgray;
  }

  /* STYLING FOR THE USER-DATA UPDATE FORM (1ST FORM)*/

  .profile__photo {
    text-align: left;
    display: flex;
    column-gap: 10px;
    .form__user-photo {
      height: 5rem;
      width: 5rem;
      border-radius: 100%;
    }
    .label__upload {
      border: 1px solid green;
      width: 9em;
      height: fit-content;
      margin-top: 45px;
      transition: 0.2s all;
      color: $primary_color;
      border: none;
      border-bottom: 1px solid $primary_color;
      padding-left: 5px;
      .form__upload {
        width: 0em;
        opacity: 0;
        margin-top: 0;
      }
    }
    .label__upload:hover {
      background-color: $primary_color;
      color: #fff;
      -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-10%);
    }
  }

  hr {
    margin: 10px 0 20px 0;
  }
}

.logout {
  background-color: #0095f6;
  text-align: center;
  border-radius: 2em;
  color: white;
  border: none;
  padding: 0px 20px;
  height: 2.5em;
  width: fit-content;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
}
.logout:hover {
  transition: 0.2s all;
  box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -1px 8px 23px -9px rgba(0, 0, 0, 0.79);
  transform: translateY(-10%);
}
