@import 'main';
.overview__container {
  @include page-container;
  min-height: inherit;
  overflow: auto;
  padding: 0 1%;
  .displayname {
    // outline: 1px solid red;
    display: flex;
    padding: 0 1em;
  }
  // .password_link {
  // }
  .row {
    // outline: 1px solid blue;
    text-align: center;
    margin: 0.5em 0;
  }

  .overview_btn {
    @include btn;
    width: 92%;
    white-space: nowrap;
    font-weight: 600;
  }
  .logout {
    background-color: rgba(231, 231, 231, 0.315);
    color: #000000;
    outline: 1.5px solid #000000;
    font-weight: 600;
  }
  .labels {
    text-align: left;
    padding: 0 1em;
    margin: 0;
  }
}
