.review {
  display: flex;
  width: 100%;
  border: 1px solid black;
}

.review_container {
  height: 100%;
  border: 2px solid red;
  width: 100%;
  textarea {
    resize: none;
    width: 20em;
  }
  .star {
    cursor: pointer;
  }
  .reviews_section {
    height: 30em;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
