.left_side {
  border: 2px solid green;
  width: 20em;
  height: 41.2em;
  background-color: #e1e7e1;
  padding-top: 10em;

  .profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .links {
    height: 35px;
    margin-top: 10px;
    margin-left: 10%;
    width: 75%;
    border-radius: 10em;
  }
  .add_meal_btn {
    height: 35px;
    margin-left: 25%;
    width: max-content;
    border: 1px solid green;
    border-radius: 5px;
    color: white;
    background-color: green;
    padding: 10px 15px;
  }
  a {
    color: #314237;
    text-decoration: none;
    text-align: center;
  }

  .clicked {
    border: 1px solid black;
  }
}
.right-side {
  border: 2px solid blue;
  width: 35em;
  .time_location {
    border: 2px solid yellow;
  }
  .order_items {
    border: 2px solid gray;
  }
  .totals {
    border: 2px solid rgb(255, 0, 170);
  }
  .checkout_btn {
    border: 2px solid rgb(255, 0, 0);
  }
  .order_item {
    display: flex;
    height: 5em;
    p {
      margin: 0px;
    }
  }
  .pickup {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
